/* Shift left all headings in the gutter in order to make them more distinguishable from text bodies in Editing and Reading modes. */
/* NOTE : `:not(.callout-content)` is used to exclude headings contained in callout boxes */
.HyperMD, 
:not(.callout-content) > h1,
:not(.callout-content) > h2,
:not(.callout-content) > h3,
:not(.callout-content) > h4,
:not(.callout-content) > h5,
:not(.callout-content) > h6 {
  position: relative;
}
h1, .HyperMD-header-1 {
  left: 0px;
}
h2, .HyperMD-header-2 {
  left: 30px;
}
h3, .HyperMD-header-3 {
  left: 50px;
}
h4, .HyperMD-header-4 {
  left: 60px;
}
h5, .HyperMD-header-5 {
  left: 70px;
}
h6, .HyperMD-header-6 {
  left: 75px;
}
div.markdown-preview-view,
div.markdown-source-view div.cm-content { /* This is used to center note considering shifted titles */
  padding-left: 60px !important;
  padding-right: 20px !important;
}